<form action="{{ route('user.create') }}" method="post">
    {{ csrfField() }}
    <input type="text" name="username" id="">
    <input type="email" name="email" id="">
    <input type="email" name="confirm-email" id="">
    <input type="password" name="password" id="">
    <input type="submit" value="Cadastrar">
</form>