<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Restaurante</title>
</head>
<body>
  <section>
  <p>{{ auth.user.username }}</p>
  <p>{{ auth.user.establishment.name }}</p>
    <div class="subtitle">
     
      <p>
        Seu cardápio aqui!
      </p>
    </div>
  </section>
</body>
</html>
